
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #413535;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#currentYear {
    font-size: 18px;
    font-weight: bold;
}